<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hey, {{name}}</p>
    <p>You told us you forgot your password.</p>
    <p>If you really did, click here to choose a new one: </p>
    <p>
        <a href="{{link}}">Reset your password</a>
    </p>
    <p>If you didn't mean to reset your password, then you can just ignore this email;</p>
    <p>
        Best regards!<br />
        <strong>GoBarber Team</strong>
    </p>
    <p></p>
</div>
